// Define variables for your color scheme

// For example:
$red: #FD1015;
$light-red: #e75555;
$blue: #55B5EC;
$dark-blue: #0C4E7F;
$light-blue: #E4F9FF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-green: #D4FFC0;
$black: #333333;
$gray: #c4c4c4;
$light-gray: #F4F4F4;
$white: white;
