// div {
//   border: solid 1px black;
// }

// Div max width 1200
.max-1200 {
  margin: auto;
  max-width: 1200px;
  height: 100%;
}

// Background banner image format
.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}

// Button color:
button  a {
  color: white !important;
  &:hover {
    text-decoration: none;
  }
}

// Back button
.back-button a {
  display: block;
  color: white;
  font-weight: 500;
  padding: 2vh;
  font-size: 1.2rem;

  &:hover {
    text-decoration: none;
  }
}

// Scrolling wrapper
.scrolling-wrapper-md::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {	
  .scrolling-wrapper-md {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}