// HEADER
.home-page-header {
  background-image: url('backgrounds_images/bg-boat.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: calc(100vh - 70px - 100px);

  .max-1200 {
    position: relative;
  }

  .header-text {
    max-width: 600px;
    padding: 25px;
    position: absolute;
    color: white;
    top: 50%;
    right: 5vw;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%); /* for IE 9 */
    -webkit-transform: translate(0%, -50%); /* for Safari */
  }
}

// HISTORICAL METRICS
.historical-metrics {
  background-color: $light-blue;
  max-height: 100px;
  text-align: center;
  padding: 20px;
  margin-bottom: 4vh;

  p {
    margin: 0px;
  }
}

.historical-metrics-number {
  font-size: 1.5rem;
  font-weight: 700;
}

// METHODOLOGY
.our-methodology, .our-courses {
  padding: 20px;
  text-align: center;
  margin-bottom: 4vh;
}

.our-methodology i {
  font-size: 1.5rem;
  color: #094C7E;
  margin: 10px 0px;
}

.our-methodology-content {
  padding: 15px 0px;
}

// OUR COURSES
.our-courses-content {
  display: flex;
  justify-content: center;
}

// STUDENTS SAY
.our-students-say {
  background-color: $light-blue;
  padding: 10vh 5vh;

  .our-students-say-header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5vh;
  }
}

// WHY OUR METHOD
.why-our-method {
  padding: 10vh 5vh;

  .why-our-method-image {
    overflow: hidden;
    display: flex;
    justify-content: center;

    img {
      height: 40vh;
      image-rendering: auto;
    }
  }
}

// FAC-SECTION
.faq-section {
  .faq-section-accordion-wrapper {
    max-width: 800px;
    margin: auto;
  }

  .faq-accordion-item {
    border-bottom: solid 1px $gray;
    padding: 8px 0 16px;
  }
  .question {
    align-items: center;
    padding: 1.5vh;
  }
  .question a {
    display: flex;
    position: relative;
    align-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: $black;
  }
  
  .answare {
    line-height: 24px;
    padding: 0px 15px;
  }
  
  .question > a:after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 0;
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  .question > a[aria-expanded="true"]:after {
    content: "\f106";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
  }

  .faq-section-bottom {
    padding: 32px 0;
    text-align: center;
  }
}

// WORK WITH US
.work-with-us {
  background-image: url('backgrounds_images/bg-work-with-us.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10vh 5vh;
  text-align: center;
  color: white;

  .work-with-us-points {
    text-align: left;
    display: flex;
    justify-content: center;

    ul {
      list-style-type: none;
    }
  }

  p , li {
    font-size: 1.1rem;
    font-weight: 500;
  }
}