<header>
  <h1>30 minutos al día <br>=<br>P.E.R en un mes</h1>
  <p>En Atar Cabos queremos que el P.E.R. deje de ser un lujo, sácate el teórico de manera sencilla</p>
</header>
<section class="historical-metrics">
  <div class="historical-metrics-content">
    <div class="row">
      <div class="col-4">
        <p class="historical-metrics-number">+500</p>
        <p class="historical-metrics-text">Vídeos</p>
      </div>
      <div class="col-4">
        <p class="historical-metrics-number">+140</p>
        <p class="historical-metrics-text">Exámenes</p>
      </div>
      <div class="col-4">
        <p class="historical-metrics-number">+300</p>
        <p class="historical-metrics-text">Ejercicios</p>
      </div>
  </div>
</section>
<section class="our-methodology">
  <h3>Nuestra metodología</h3>
  <p>Un poco cada día = ser P.E.R ya no será una fantasía</p>
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="our-methodology-content">
        <%= image_tag "/icons/film-icon.svg", size: "50x50", :alt => "Vídeo" %>
        <h4>Vídeos de 5 minutos</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus reprehenderit reiciendis eligendi, est harum mollitia veniam veritatis iste? Illo incidunt, assumenda voluptatum nihil qui numquam vitae aspernatur accusamus adipisci atque.</p>
      </div>
    </div>
    <div class="col-12 col-md-auto"><i class="fas fa-plus"></i></div>
    <div class="col-12 col-md-3">
      <div class="our-methodology-content">
        <%= image_tag "/images/icons/test-icon.svg", :alt => "Test" %>
        <h4>Vídeos de 5 minutos</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus reprehenderit reiciendis eligendi, est harum mollitia veniam veritatis iste? Illo incidunt, assumenda voluptatum nihil qui numquam vitae aspernatur accusamus adipisci atque.</p>
      </div>
    </div>
    <div class="col-12 col-md-auto"><i class="fas fa-plus"></i></div>
    <div class="col-12 col-md-3">
      <div class="our-methodology-content">
        <%= image_tag "/icons/exam-icon.svg", :alt => "Exam" %>
        <h4>Vídeos de 5 minutos</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus reprehenderit reiciendis eligendi, est harum mollitia veniam veritatis iste? Illo incidunt, assumenda voluptatum nihil qui numquam vitae aspernatur accusamus adipisci atque.</p>
      </div>
    </div>
  </div>
</section>
<section class="our-courses">
  <h2>Nuestros cursos</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  
</section>